nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    font-size:14px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(8,8,8,0.9);
    backdrop-filter: blur(10px);
}

.nav-link {
    padding: 10px 16px;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.nav-links div {
    cursor: pointer;
}

.nav-link:hover {
    background-color: rgba(255,255,255,0.08);

    color: white;
}
nav h2 {
    cursor: pointer;
    transition: 0.3s;
}

nav h2:hover {
    color: #6674ff;
}