.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:24px;
}

.dashboard-title h1{
    font-size:42px;
    font-weight:700;
    color:#111827;
    margin-bottom:8px;
}

.dashboard-title p{
    color:#6b7280;
    font-size:16px;
}

.search-box{
    display:flex;
    gap:12px;
}

.search-box input{
    width:280px;
    padding:14px 16px;
    border:1px solid #d1d5db;
    border-radius:12px;
    outline:none;
    font-size:15px;
}

.search-box input:focus{
    border-color:#2B7B37;
}

.search-box button{
    background:#2B7B37;
    color:white;
    border:none;
    padding:14px 24px;
    border-radius:12px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.search-box button:hover{
    background:#24672d;
}

.search-box button:disabled{
    opacity:0.6;
    cursor:not-allowed;
}