.footer-bottom{

    max-width:1200px;
    margin:auto;
    padding:30px 0;
    border-top:1px solid #e5e7eb;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#6b7280;
    font-size:15px;

}