.navbar{
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 80px;
    background:white;
    border-bottom:1px solid #eee;
    max-width: 1400px;
    margin: 0 auto;
}
.logo{
    color:#111827;
    font-weight:700;
    fontsize: 1.5rem;
}
.nav-menu{
    display:flex;
    gap:40px;
    font-weight:700;
    color:#111827;
    list-style:none;
}
.nav-menu li{
    cursor:pointer;
}
.nav-menu li:hover {
    color: red;
}
.nav-actions{
    display:flex;
    gap:25px;
}
.signin-btn{
    background:transparent;
    color:black;
    font-weight:700;
    cursor:pointer;
    font-size:15px;
    border:none
}
.signin-btn:hover{
    color:red;
}
.start-btn{
    background:#2B7B37;
    border-radius:10px;
    padding:10px;
    color:white;
    border:none;
    padding:12px 20px;
    font-weight:600;
    cursor:pointer;
    transition: 0.3s;
}
.start-btn:hover{
    transform: translateY(-2px);
}
@media (max-width:768px){

    .nav-menu{
        display:none;
    }

    .nav-actions{
        display:none;
    }
}